* {
  font-family: 'Poppins', sans-serif;
}
.logo-font {
  font-family: 'Glass Antiqua', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.p-font {
  position: relative;
  bottom: 20px;
  left: 5px;
}
.height{

  height: 100vh;
}

.form{

  position: relative;
}
.form span{

 position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}
.form-input{

  height: 55px;
  text-indent: 10px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}